# Логи
logs/
*.log

# Виртуальное окружение
.venv/
venv/

# Базы данных
*.db
*.sqlite

# Файлы среды
.env
.env.local

# Кэш
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
